body {
    background-color: rgb(31, 33, 38);
    padding: 0;
    margin: 0;

    --color1: #FFA646;
}
h1{
    font-size: 85px;
    margin: 5px;
}
.alumni{
    font-family: 'Alumni Sans', sans-serif !important; 
}

.bebas{
    font-family: 'Bebas Neue', sans-serif !important;
}

.navbar{
    background-color: black;
    display: flex;
    flex-direction: row;
}
.navbar-text{
    margin-left: 65%;
}

.navbar-logo{
    width: 100px;
}

.navbar img{
    padding-left: 20%;
    padding-top: 15%;
    width: 60%;
}

.navbar ul{
    list-style-type: none;
    overflow: hidden;
    font-size: 30px;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

.navbar li a:hover {
    color: var(--color1);
}

div.main-page {
    background-image: linear-gradient(to left, rgba(0,0,0,0.8), rgba(0,0,0,0.8) ), url(video-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;

}

div.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.title-logo{
    width: 30%;
    
}

div.title h1{
    color:white
}

div.about-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.about-button button{
    font-size: 28px;
    font-family: bold;
    cursor: pointer;
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 80px;
    border: 3px solid var(--color1);
    transition-duration: 0.5s;
    margin-bottom: 3%;
}

div.about-button button:hover{
    scale: 1.1;
    background-color: white;
    color: black;
}